.ecommerce-dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  margin-top: 10vh;
  .MuiPaper-root {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #efefef;
    box-shadow: black;

    .MuiTable-root {
      width: 100%;
      border-collapse: collapse;

      .MuiTableHead-root,
      .MuiTableBody-root {
        tr {
          th,
          td {
            text-align: left;
            padding: 12px;
          }
        }
      }

      .MuiTableHead-root {
        tr {
          th {
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }

    .MuiButton-root {
      margin-right: 10px;
      margin-top: 10px;
      background-color: rgb(59, 59, 59);
      color: white !important;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .MuiTextField-root {
      margin-bottom: 20px;
    }
  }
}
