.ecommerce-dashboard {
  .MuiPaper-root {
    width: 80%;
    margin: 20px auto;
    padding: 20px;

    .MuiTable-root {
      width: 100%;
      border-collapse: collapse;

      .MuiTableHead-root,
      .MuiTableBody-root {
        tr {
          th,
          td {
            text-align: left;
            padding: 12px;
          }
        }
      }

      .MuiTableHead-root {
        tr {
          th {
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }

    .MuiButton-root {
      margin-right: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .MuiTextField-root {
      margin-bottom: 20px;
    }
  }
}
