.app {
  min-height: 100vh;
  min-width: 100vw;
  // border: 12px black solid;

  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}
* {
  color: rgb(81, 80, 80) !important;
}
